<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1">

    <title>게시판 목록</title>
    <!--    bootstrap, jquery-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.css">
</head>
<body>
<div class="container">
    <h1>게시판 - 목록</h1><br>
</div>
<div class="container">
    <form class="form-inline">
        <div class="input-group-sm">
            등록일

            <input name="startDate" class="form-control-sm" type="date" required/>
            <input name="endDate" class="form-control-sm" type="date" required/>

            <select class="form-select-sm" name="category" required>
                <option value="all">전체 카테고리</option>
                <option th:each="category : ${categoryList}" th:value="${category.categoryId}"
                        th:text="${category.category}"></option>
            </select>
            <input type="search" name="keyword">
            <input type="submit" value="검색">
        </div>
    </form>
</div>
<br>
<div class="container">
    <p th:text="|총 ${totalPostCount} 건|"></p>
</div>


<div class="container">
    <table class="table table-hover" style="text-align: center; font-size: 12px">
        <thead>
        <tr>
            <th class="w-auto" style="text-align: center;">카테고리</th>
            <th class="w-auto" style="text-align: center;">&nbsp</th>
            <th class="w-auto" style="text-align: center;">제목</th>
            <th class="w-auto" style="text-align: center;">작성자</th>
            <th class="w-auto" style="text-align: center;">조회수</th>
            <th class="w-auto" style="text-align: center;">등록 일시</th>
            <th class="w-auto" style="text-align: center;">수정 일시</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="post : ${postList}">
            <td th:text="${post.category}"></td>

            <td th:if="${post.fileFlag == true}">F</td>
            <td th:unless="${post.fileFlag == true}">&nbsp;</td>

            <td class="d-flex justify-content-start"><a th:href="@{/boards/free/view/{postId}(postId = ${post.postId})}">[[${post.title}]]</a></td>
            <td>[[${post.author}]]</td>
            <td>[[${post.hits}]]</td>
            <td>[[${post.createdDate}]]</td>
            <td>[[${post.modifiedDate}]]</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item" th:if="${pagingValues['startPage']} > 1"><a class="page-link" th:href="@{/boards/free/list/{pageNumber}(pageNumber = 1)}">처음</a> </li>
        <li class="page-item" th:if="${pagingValues['currentPage']} > 1"><a class="page-link" th:href="@{/boards/free/list/{pageNumber}(pageNumber = ${pagingValues['currentPage']} - 1)}">이전</a> </li>
        <th:block th:each="i : ${#numbers.sequence(pagingValues['startPage'], pagingValues['endPage'])}">
            <li class="page-item" ><a class="page-link" th:href="@{/boards/free/list/{pageNumber}(pageNumber = ${i})}">[[${i}]]</a> </li>
        </th:block>
        <li class="page-item" th:if="${pagingValues['currentPage']} < ${pagingValues['totalPage']}"><a class="page-link" th:href="@{/boards/free/list/{pageNumber}(pageNumber = ${pagingValues['currentPage']} + 1)}">다음</a> </li>
        <li class="page-item" th:if="${pagingValues['endPage']} < ${pagingValues['totalPage']}"><a class="page-link" th:href="@{/boards/free/list/{pageNumber}(pageNumber = ${pagingValues['totalPage']})}">끝</a> </li>
    </ul>
</div>

<div class="d-flex justify-content-end">
    <button class="btn btn-secondary" onclick="location.href='/boards/free/write'">등록</button>
</div>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/5.1.3/js/bootstrap.js"></script>
<script src="/webjars/popper.js/2.9.3/umd/popper.min.js"></script>
</body>
</html>
