<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace : package + classname -->
<mapper namespace="CommentMapper">
    <resultMap id="mapCommentDTO" type="CommentDTO">
        <result property="postId" column="post_id"/>
        <result property="createdDate" column="created_date"/>
    </resultMap>

    <!--    CommentDAO가 사용하는 부분-->
    <!--postId값에 해당하는 게시글의 목록을 반환-->
    <select id="getCommentList" parameterType="long" resultType="com.ebstudy.board.v4.dto.CommentDTO"
            resultMap="mapCommentDTO">
        SELECT *

        FROM comments

        WHERE post_id = #{postId}

        ORDER BY created_date DESC
    </select>

    <!--댓글 대상의 postId를 가진 게시글을 저장-->
    <insert id="saveComment" parameterType="com.ebstudy.board.v4.dto.CommentDTO">
        INSERT INTO comments(comment, created_date, post_id)

        VALUES (#{comment}, #{createdDate}, #{postId})
    </insert>
</mapper>

